<div class="form form-inline search-box" role="search">
  <div class="form-group">
    <a href=""
       ng-click="ctrl.onClick($event)">
      <i class="glyphicon" ng-class="{'glyphicon-search':!ctrl.showInput, 'glyphicon-remove':ctrl.showInput}"></i>
    </a>
  </div>
  <div class="form-group">
    <div class="input-group">
      <input type="text"
             class="form-control input-sm"
             placeholder="Search..."
             ng-model="ctrl.search"
             ng-change="ctrl.onChange({value:ctrl.search})"
             ng-blur="ctrl.onBlur($event)"
             ng-class="{focus: ctrl.showInput}"/>
    </div>
  </div>
</div>
